<div id="menu">
    <ul>
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li>
            <div class="dropdown">
                <button class="dropbtn">Artikelen</button>
                <div class="dropdown-content">
                    <a href="{{ path('alleartikelen') }}">Artikel overzicht</a>
                    <a href="{{ path('alleartikelentebestellen') }}">Onder minimumvoorraad</a>
                    <a href="{{ path('alleartikeleninactief') }}">Verwijderde artikelen</a>
                </div>
            </div>
        </li>
        <li>
            <div class="dropdown">
                <button class="dropbtn">Bestellingen</button>
                <div class="dropdown-content">
                    <a href="{{ path('alleordersmagazijn') }}">Bestelling overzicht</a>
                </div>
            </div>
        </li>
    </ul>



</div>

