<div id="menu">
    <ul>
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li>
            <div class="dropdown">
                <button class="dropbtn">Artikelen</button>
                <div class="dropdown-content">
                    <a href="{{ path('alleartikelen') }}">Artikel overzicht</a>
                    <a href="{{ path('nieuwartikel') }}">Artikel Toevoegen</a>
                    <a href="{{ path('alleaproducttype') }}">Producttype overzicht</a>
                    <a href="{{ path('alleartikelentebestellen') }}">Onder minimumvoorraad</a>
                    <a href="{{ path('alleartikeleninactief') }}">Verwijderde artikelen</a>
                </div>
            </div>
        </li>
        <li>
            <div class="dropdown">
                <button class="dropbtn">Bestellingen</button>
                <div class="dropdown-content">
                    <a href="{{ path('nieuworder') }}">Nieuwe bestelling</a>
                    <a href="{{ path('alleorders') }}">Bestelling overzicht</a>
                    <a href="{{ path('alleordersconcept') }}">Bestelling Concept</a>
                    <a href="{{ path('alleordersbesteld') }}">Bestelling Besteld</a>
                    <a href="{{ path('alleordersontvangen') }}">Bestelling Ontvangen</a>

                </div>
            </div>
        </li>
    </ul>



</div>
