{% extends 'base.html.twig' %}
{% block body %}
<br />
    <b></b>
    <br />
    <a href="javascript:history.back()">Terug</a>
    <br />
    <br />
    <br />
    {#{{ dump(artikel) }}#}

    <div class="container">
        <h2>Artikel: {{ artikel.artikelnummer }}</h2>
        <p>Alle beschikbare informatie over het artikel</p>

        <b>Artikelnummer: </b>{{ artikel.artikelnummer }}  <br />
        <b>Omschrijving: </b>{{ artikel.omschrijving }}  <br />
        <b>Technische specificaties: </b>{{ artikel.technischeSpecificaties }}  <br />
        <b>Magazijnlocatie: </b>{{ artikel.magazijnlocatie }}  <br />
        <b>Inkoopprijs: </b>{{ artikel.inkoopprijs }}  <br />
        <b>VervangendArtikel: </b>{{ artikel.vervangendArtikel }}  <br />
        <b>Minimum voorraad: </b>{{ artikel.minimumVoorraad }}  <br />
        <b>Voorraad: </b>{{ artikel.voorraad }}  <br />
        <b>Bestelserie: </b>{{ artikel.bestelserie }}  <br />
        <br />
        <button type="button" class="btn btn-default" onclick="window.document.location='wijzig/{{ artikel.artikelnummer }}';">Wijzigen</button>
        <button type="button" class="btn btn-danger" onclick="window.document.location='verwijder/{{ artikel.artikelnummer }}';">Verwijderen</button>

        {#<a href="artikel/verwijder/{{ artikel.artikelnummer }}"> verwijder</a> <a href="artikel/wijzig/{{ artikel.artikelnummer }}"> wijzig</a><br />#}
    </div>

{% endblock %}
