{% extends 'pages/base.html.twig' %}
{% block body %}
    <br />
    <div id="wrapper">
        {% include 'blocks/header.html.twig' %}
        <div id="menu">
            <ul>
                {% include 'blocks/menuArtikelen.html.twig' %}
            </ul>
        </div>
        <div class="content"><br />
            <b>Welkom magazijnmeester!</b><br />
            Via deze omgeving is het mogelijk om allerlei handelingen uit te voeren met betrekking tot het magazijn. U kunt producten opzoeken, de voorraad wijzigen en de locatie van producten wijzigen. <br />
            <div class="row">
                <div style="margin: 20px;"><input type="text" class="form-control" id="search-field" placeholder="Artikelnummer"></div>
            </div>
            <div class="row">
                <table id="artikelen" class="table table-hover" style="margin: 20px; width: 97%;">
                    <thead>
                    <tr>
                        <th>Artikelnummer</th>
                        <th>Omschrijving</th>
                        <th>Magazijnlocatie</th>
                        <th>Inkoopprijs</th>
                        <th>Minimum voorraad</th>
                        <th>Voorraad in aantal</th>
                        <th>Bestelserie</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for artikel in artikelen %}
                        <tr>
                            {#<tr onclick="window.document.location='{{ path('artikelMagazijn',{'artikelnummer':artikel.artikelnummer}) }}';">#}
                            <td>{{ artikel.artikelnummer }}</td>
                            <td>{{ artikel.omschrijving }}</td>
                            <td>{{ artikel.magazijnlocatie }}</td>
                            <td>{{ artikel.inkoopprijs }}</td>
                            <td>{{ artikel.minimumVoorraad }}</td>
                            <td>{{ artikel.vooraad }}</td>
                            <td>{{ artikel.bestelserie }}</td>
                        </tr>
                        {#{{ dump(artikel) }}#}
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        {% include 'blocks/footer.html.twig' %}
    </div>
    </body>
{% endblock %}
